* { box-sizing: border-box; }

body { background-color: white; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; }

.app { width: 600px; height: auto; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; background-color: #ddd7d7; }

.app .contactForm { width: 400px; border: 1px solid black; }

.app .contactForm input { width: 175px; height: 30px; margin: 10px; }

.app .contactForm button { width: 120px; margin-left: 30px; background-color: #16cfe7; border-radius: 5px; box-shadow: 2px 2px #888888; }

.app .contactsList { margin: 0px; padding: 0px; }

.app .contactItem { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 400px; height: 100px; margin: 10px 0 10px 0; background-color: #4658ff; border: 1px solid black; border-radius: 5px; }

.app .contactItem .contactLabel { width: 160px; height: 40px; padding: 10px; margin-right: 5px; margin-left: 5px; background-color: white; }

.app .contactItem .contactEmail { width: 300px; margin-left: 55px; text-decoration: none; margin-bottom: 20px; color: white; }

.app .contactItem .contactImage { margin-top: 15px; margin-left: 10px; width: 40px; height: 40px; }
