* {
  box-sizing: border-box; 
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app {
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 215, 215);

    .contactForm {
        width: 400px;
        border: 1px solid black;
        input {
            width:175px;
            height:30px;
            margin: 10px;
        }
        button {
            width: 120px;
            margin-left: 30px;
            background-color: rgb(22, 207, 231);
            border-radius: 5px;
            box-shadow: 2px 2px #888888;
        }
    }

    .contactsList {
        margin: 0px;
        padding: 0px;
    }
    
    .contactItem {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 400px;
        height: 100px;
        margin: 10px 0 10px 0;
        background-color: rgb(70, 88, 255);
        border: 1px solid black;
        border-radius: 5px;
    
        .contactLabel {
        width: 160px;
        height: 40px;
        padding: 10px;
        margin-right: 5px;
        margin-left: 5px;
        background-color: white;
        }

        .contactEmail {
            width: 300px;
            margin-left: 55px;
            text-decoration: none;
            margin-bottom: 20px;
            color: white;
        }
        
        .contactImage {
            margin-top: 15px;
            margin-left: 10px;
            width: 40px;
            height: 40px;
        }
    }
}




// body {
//   background-color: #F2F6F6; }
//   body .app {
//     width: 100vw;
//     height: auto;
//     background-color: #FCD2AF;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center; }
//     body .app .contactForm {
//       margin: 25px;
//       width: 60vw;
//       height: auto;
//       background-color: #A0C1C1; }
//       body .app .contactForm input {
//         font-size: 18px;
//         font-weight: 400;
//         color: #699797;
//         background-color: #FCD2AF;
//         margin: 10px; }
//       body .app .contactForm .submit {
//         font-size: 18px;
//         font-weight: 400;
//         color: #FCD2AF;
//         background-color: #699797;
//         width: 200px;
//         height: 50px;
//         text-align: center;
//         margin: 10px; }
//     body .app .contactsList {
//       list-style-type: none; }
//       body .app .contactsList .contactItem {
//         width: auto;
//         height: auto;
//         border: 4px solid #2a3c3c;
//         border-radius: 5px;
//         background-color: #faab6b;
//         margin: 10px; }
//         body .app .contactsList .contactItem .contactLabel {
//           margin-left: 15px;
//           font-size: 24px;
//           font-weight: 800;
//           color: #2a3c3c; }
//           body .app .contactsList .contactItem .contactLabel .contactLabel_span {
//             font-size: 24px;
//             font-weight: 500;
//             color: #547878;
//             text-shadow: 1px 0.5px #2a3c3c; }
//         body .app .contactsList .contactItem .contactEmail {
//           margin-left: 15px;
//           margin-bottom: 15px;
//           font-size: 24px;
//           font-weight: 800;
//           color: #2a3c3c; }
//           body .app .contactsList .contactItem .contactEmail .contactEmail_link {
//             font-size: 24px;
//             font-weight: 600;
//             color: #dd6808;
//             text-decoration: none; }